.modal-primary
.modal-info
.modal-success
.modal-warning
.modal-danger
  .modal-header
    color #fff
    border-radius 5px 5px 0 0

.modal-primary .modal-header
  background #428bca

.modal-info .modal-header
  background #5bc0de

.modal-success .modal-header
  background #5cb85c

.modal-warning .modal-header
  background #f0ad4e

.modal-danger .modal-header
  background #d9534f

.modal-footer
  padding: 8px
  text-align: left
  margin-top: 0

.modal
  text-align: center
  padding: 0 !important
  transform: translate(0, -10%)

.modal:before
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -4px

.modal-dialog
  display: inline-block
  text-align: left
  vertical-align: middle
