#chat
  .message
    &.ng-enter, &.ng-move
      transition: all 3s linear
      td
        transition: all 3s cubic-bezier(0.55, 0.06, 0.68, 0.19)
        background: #ED1C24
    &.ng-enter.ng-enter-active, &.ng-move.ng-move-active
      td
        background: #f9f9f9

#stats
  background: lightgrey
  padding: 5px

