.container
  div(ng-show="facebookLoaded")
    h2 Create new event
    form(name="newEventForm", ng-submit="createEvent(newEventForm.$valid, newEvent.name, newEvent.game._id, newEvent.date)")
      .row
        .col-xs-6
          .row.form-group
            .col-xs-12: input.form-control(ng-model="newEvent.name", placeholder="Event Name", ng-required="true")
          .row.form-group
            .col-xs-12: ui-select.no-height(ng-model="newEvent.game", theme="bootstrap")
              ui-select-match(placeholder="Game")
                img(ng-src="{{ $select.selected.img }}", width="50px")
                strong &nbsp;{{ $select.selected.name }}
                | &nbsp;- {{ $select.selected.info }}
              ui-select-choices(repeat="game in games | filter: { name: $select.search }")
                img(ng-src="{{ game.img }}", width="50px")
                strong &nbsp;{{ game.name }}
                | &nbsp;- {{ game.info }}
        .col-xs-6
          .btn-group(dropdown="", is-open="datetimepicker.open")
            button.btn.btn-primary.dropdown-toggle
              | Selected Date:&nbsp;
              span(ng-show="newEvent.date") {{ newEvent.date | amCalendar }}
              span(ng-hide="newEvent.date") Click to select date
            ul.dropdown-menu(role="menu")
              datetimepicker(ng-model="newEvent.date", on-set-time="datetimepicker.open = false", datetimepicker-config="{ minuteStep: 15 }", ng-required="true")
      .row: .col-xs-12
        button.btn.btn-success(type="submit") Create Event
