h2 Current events
p Here are the current events. Care to join some? Or would you like to make a new one?
div(ng-show="facebookLoaded")
  .row: .col-xs-12(ng-repeat="event in events")
    .panel.panel-default
      .panel-heading {{ event.name }} - {{ event.game.name }} - {{ event.date | amCalendar }}
      .list-group.list-group-hover
        .list-group-item(ng-repeat="attendee in event.attendees") {{ attendee.name.first }} {{ attendee.name.last }} - {{ attendee.facebook.id }}
        button.list-group-item.btn.btn-primary(ng-hide="attending(event, user)", ng-click="joinEvent(event, true)") Join!
        button.list-group-item.btn.btn-danger(ng-show="attending(event, user)", ng-click="joinEvent(event, false)") Unjoin!
