.container
  p
    | Ye Olde Chums Guild Portal
    = ' | '
    a(href='https://www.facebook.com/groups/1557584801161126/', target="_blank") Facebook Group
    = ' | '
    a(href='https://www.messenger.com/t/1520988781447575', target="_blank") Facebook Chat
