.container
  .panel(ng-class="{ 'panel-success': ts.online, 'panel-danger': !ts.online }")
    .panel-heading: h2.panel-title TeamSpeak
    .panel-body
      .row
        .col-sm-6
          ul.list-group
            li.list-group-item(ng-repeat="(name, user) in ts.users")
              span.fa.fa-circle(ng-class="{ online: user.online, offline: !user.online }")&nbsp;
              | {{ name }}
