@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.6.3')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

@font-face
    font-family: "Big Noodle Titling"
    src: url("/assets/fonts/big_noodle_titling.ttf") format("truetype")
@font-face
    font-family: "Big Noodle Titling Oblique"
    src: url("/assets/fonts/big_noodle_titling_oblique.ttf") format("truetype")

@font-face
    font-family: "Overwatch"
    src: url("https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff')

.overwatch-font
    font-family: "Big Noodle Titling", sans-serif
.overwatch-font-oblique
    font-family: "Big Noodle Titling Oblique", sans-serif
.italic
    font-style: italic
.bold
    font-weight: bold

//
// App-wide Styles
//

.browsehappy
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0



.ui-select-container.no-height
  .form-control
    height: initial


$brand-primary = darken(#428bca, 6.5%) // #337ab7
$brand-success = #5cb85c
$brand-info    = #5bc0de
$brand-warning = #f0ad4e
$brand-danger  = #d9534f

.btn
  transition: background 0.2s

.list-group-hover
  > .list-group-item
    transition: all 0.2s
  > .list-group-item:hover
    background-color: #f5f5f5
.list-group
  > button.list-group-item.btn
    text-align: center
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    &.btn-primary
      color: #fff
      background: $brand-primary
      width: 100%
      &:hover
        background-color: #286090
    &.btn-danger
      color: #fff
      background: $brand-danger
      width: 100%
      &:hover
        background-color: #d2322d
        background-color: darken($brand-danger, 13.5%)

.nav-tabs > li > a
  cursor: pointer


panel-title(fs)
  font-size: fs
  display: inline

.panel-title
  h1&, .h1&
    panel-title(36px)
  h2&, .h2&
    panel-title(30px)
  h3&, .h3&
    panel-title(24px)
  h4&, .h4&
    panel-title(18px)
  h5&, .h5&
    panel-title(14px)
  h6&, .h6&
    panel-title(12px)


back-border(bg)
  background: bg
  border-color: darken(bg, 5%)
  color: #fff

.panel-heading
  .panel-primary > &
    back-border($brand-primary)
  .panel-success > &
    back-border($brand-success)
  .panel-info > &
    back-border($brand-info)
  .panel-warning > &
    back-border($brand-warning)
  .panel-danger > &
    back-border($brand-danger)

.online, .offline, .away
  font-size: 12px

.online
  color: $brand-success

.offline
  color: #aaa

.away
  color: $brand-warning


.link
  cursor: pointer


.logo
  width: 200px

.logo-brand
  width: 50px
  height: 50px
  margin-top: -15px

.full-width
  width: 100%

// Component styles are injected through grunt
// injector
@import 'admin/admin.styl';
@import 'main/main.styl';
@import 'routes/games/games.styl';
@import 'routes/settings/settings.styl';
@import 'routes/status/status.styl';
@import 'routes/stream/stream.styl';
@import 'footer/footer.styl';
@import 'modal/modal.styl';
// endinjector
