header#banner.hero-unit
  img.logo(src="assets/images/yoc.png", alt='Ye Olde Chums')
  h1 Ye Olde Chums
  p.lead The coolest group o' guys you can find!
  p You must log in with Facebook in order to use this app.
footer
